* {
	margin: 0;
}

body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: rgb(68, 68, 68);
	font-size: 15px;
}

h1, h2 {
	color: #1b2b45;
}

a:visited {
	color: #1b2b45;
}

.non-scroller {
	position: fixed;
	left 0;
	bottom: 0;
	height: 400px;
	width: 100%;
	z-index: 1;
}

#front-wind {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

/*@media only screen and (max-width: 900px) {
	#front-wind {
		width: 100%;
		margin: 0;
		left: auto;
	}
}*/


#logo {
	width: 108px;
	height: auto;
	position: absolute; 
	bottom: -10px;
	left: calc(50% + 240px);
	z-index: 1;
}

.page-content {
	max-width: 550px;
	margin: 25px auto;
	position: relative;
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.62);
}

.header_wrapper h1 {
	color: #1b2b45;
	border-bottom-style: solid;
	border-width: 2px;
}

h2 {
	font-size: 18px;
	margin-top: 18px;
}

.menu-tab .border-strip {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 10px;
    border-left: solid 3px blue;;
    border-bottom: solid 20px rgba(0,0,0,0);
}

.center {
	display: block;
	margin: 0 auto;
}

.lemma {
	width: 85%;
}

.nav-list {
    text-align: right;
    border-bottom: solid #1b2b45 3px;
}

.nav-list li {
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.excerpt {
	font-size: 0.95em;
}

.date {
	font-size: 0.75em;
	font-style: italic;
}
