<!DOCTYPE html>
<html>

	{% include head.html %}

<body>
	{% include header.html %}

	<div class="non-scroller">
	{% if page.include_wind%}
		<canvas id="front-wind" width="900" height="300"></canvas>
	{% endif %}
	<img id="logo" src="/tree.svg"></img>
	</div>

	<div class="page-content">
		{{ content }}
	</div>

	{% if page.include_wind %}
		<script type="text/javascript" src="bez.js"></script>
		<script type="text/javascript" src="blue_wind.js"></script>
	{% endif %}

	{% include footer.html %}
</body>
</html>
