<!DOCTYPE html>
<html>

	{% include head.html %}

<body>
	<div class="non-scroller">
	{% if page.include_wind %}
		<canvas id="front-wind" width="900" height="300"></canvas>
	{% endif %}
	<img id="logo" src="/assets/tree.svg"></img>
	</div>

	<div class="page-content">
		{% if page.exclude_nav != true %}
			{% include header.html %}
		{% endif %}
		{{ content }}
	</div>

	{% if page.include_wind %}
		<script type="text/javascript" src="/js/bez.js"></script>
		<script type="text/javascript" src="/js/blue_wind.js"></script>
	{% endif %}

	{% include footer.html %}
</body>
</html>
